body {
  --dsw-static-blue-500: rgb(59, 130, 246);
  --dsw-static-neutral-bluish-1000: rgb(10, 12, 18);
  --dsw-alias-label-primary: var(--dsw-static-neutral-bluish-1000);
  --dsw-specific-bubble-highlight: var(--dsw-static-blue-500);
}
